<div class="large-12 columns">
		<p class="text-justify">
			<img src="assets/img/bagua1.jpg" class="textWrapLeft" alt="Durban Bagua Kung Fu">
			<img src="assets/img/bagua.jpg" class="textWrap" alt="Durban Bagua Kung Fu">
			Muay Thai boran is a generic term for many of the muay thai systems that existed in Thailand before the art became regulated by the state in the early part of the 20th century. Muay Thai boran is the fore runner of modern muay thai. Through time, in certain areas of the country and because many other different factors, some styles of muay Thai boran became famous because of their effective techniques in contest. According to different sources, they were many different styles of muay boran with completely different strategies and skills. Here we provide a list of the most popular styles of "Muay Kaad Chuak".
		</p>		
		<p>
			
		</p>
</div>	
