<div class="large-12 columns">
	<p class="text-justify">
		Devloped on the battlefields of ancient Siam, Muay Boran is a martial art which seeks to train the practitioner to use his or her entire body as an attacking surface. In doing this, fundamental striking methods for the fist, open palm, forearm, elbow, shoulder, foot, shin, knee and hip are taught. Employing devastating striking, bone breaking joint locks and throws, this practical martial art is fast, efficient, resolute and deadly.
	</p>	
</div>
