<div class="large-12 columns">
	<div class="textWrapLeft"><img src="assets/img/yang.jpg" alt="Tai Ji" border="0" width="150"></div>
	<p class="text-justify">
		Tai Ji places emphasis on using the mind to direct the body through slow and fast movements. The form can be practiced for health or for self defense and is a fully integrated movement system that embodies, kicking, punching, locking, anti locking and throwing. Tai Ji Chuan is a potent internal martial art that builds internal chi and power. It is an artform that can be practiced alongside many other martial art forms, building greater sensitivity and strength for fighting.
	</p>
	<p class="text-justify">
		In the theory of the I Ching, the Limitless (Wuji) produces the delimited absolute  or Taiji. The Taiji itself produces two forms known as the Liangyi. These are named yin and yang. The combination of these two forms produces the four phenomena or Sixiang. These are Taiyin, Shaoyang, Shaoyin, and Taiyang. These four phenomena act upon each other the create the 8 trigrams or Ba Gua. These 8 trigrams combine to create the 64 Hexagrams of the I Ching. 
	</p>		
</div>	
