 <div class="large-12 columns">
    <div class="row">
        <div class="large-3 small-6 columns">
            <a ui-sref="BaguaZhang"><img src="assets/img/bagua.jpg" width="222" height="222" border="0" alt="Bagua Zhang Kung Fu"></a>
            <h6 class="panel"><a ui-sref="BaguaZhang">Bagua Zhang</a></h6>
        </div>
        <div class="large-3 small-6 columns">
            <a ui-sref="XingYiChuan"><img src="assets/img/xingyi.jpg" width="222" height="222" border="0" alt="Xing Yi Chuan Kung Fu"></a>
            <h6 class="panel"><a ui-sref="XingYiChuan">Xing Yi Chuan</a></h6>
        </div>
        <div class="large-3 small-6 columns">
            <a ui-sref="TaiJiChaun"><img src="assets/img/taiji.jpg" width="222" height="222" border="0" alt="Tai Ji Chuan Kung Fu"></a>
            <h6 class="panel"><a ui-sref="TaiJiChaun">Tai Ji Chaun</a></h6>
        </div>
        <div class="large-3 small-6 columns">
        	<a ui-sref="MuayBoran"><img src="assets/img/muayboran.jpg" width="222" height="222" border="0" alt="Muay Boran"></a>
            <h6 class="panel"><a ui-sref="MuayBoran">Muay Boran</a></h6>
        </div>
    </div>
</div>

