 <div class="large-12 columns">
    <div class="row">
        <div class="large-3 small-6 columns">
            <a ui-sref="BaguaZhang"><img src="assets/img/bagua.jpg" width="222" height="222" border="0" alt="Bagua Zhang Kung Fu"></a>
            <h6 class="panel"><div align="center"><a ui-sref="BaguaZhang">Bagua Zhang</a></div></h6>
        </div>
        <div class="large-3 small-6 columns">
            <a ui-sref="XingYiChuan"><img src="assets/img/xingyi.jpg" width="222" height="222" border="0" alt="Xing Yi Chuan Kung Fu"></a>
            <h6 class="panel"><div align="center"><a ui-sref="XingYiChuan">Xing Yi Chuan</a></div></h6>
        </div>
        <div class="large-3 small-6 columns">
            <a ui-sref="TaiJiChuan"><img src="assets/img/taiji.jpg" width="222" height="222" border="0" alt="Tai Ji Chuan Kung Fu"></a>
            <h6 class="panel"><div align="center"><span class="textAlignCenter"><a ui-sref="TaiJiChuan">Tai Ji Chuan</a></div></h6>
        </div>
        <div class="large-3 small-6 columns">
        	<a ui-sref="MuayBoran"><img src="assets/img/muayboran.jpg" width="222" height="222" border="0" alt="Muay Thai Boran"></a>
            <h6 class="panel"><div align="center"><a ui-sref="MuayBoran">Muay Thai Boran</a></div></h6>
        </div>
    </div>
</div>

