<div class="large-12 columns">
	<p class="text-justify">
		<img src="assets/img/bagua1.jpg" class="textWrapLeft" alt="Durban Bagua Kung Fu">
		<img src="assets/img/bagua.jpg" class="textWrap" alt="Durban Bagua Kung Fu">
		Ba Gua Zhang Kung Fu is a martial art which seeks to develop the ability to strike whilst moving. As part of the Neijia, this martial art occupies the middle ground between the softness of Tai Chi Chaun and the seemingly hard nature of Xing Yi Chuan Kung Fu. Being thoroughly grounded in the philosophy of the I Ching, this unique Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs. Employing intricate kicking, throwing, and grasping techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion, the practice of Bagua Zhang Kung Fu enables one to develop a moving root. At it's higher levels, Bagua Zhang leads one to let go of restrictive movement, sensation and thought and so merge with that which does not change - the real nature of your mind.
	</p>
	<p class="text-justify">
		The aim of the Durban Ba Gua Zhang Kung Fu association is to provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the practice of Ba Gua Zhang Kung Fu. Twice weekly classes are offered in the Bagua basics of Standing, Striking, Turning and Changing. In addition to this, extensive weapon training is on offer. Private lessons are also available on request.
	</p>
</div>	
