<div class="large-12 columns">
	<p>
		If you have any enquiries, please contact Paul using any of the details below.
	</p>
	<table cellspacing="5" cellpadding="5" width="100%">
		<thead>
			<tr>
				<th>EMAIL ADDRESS</th>
				<th>CELL PHONE</th>
				<th>STUDIO ADDRESS</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="mailto:enquiries@martial-arts-durban.co.za">enquiries@martial-arts-durban.co.za</a></td>
				<td>082 501 7190</td>	
				<td>58 Gordon Road, Morningside, Durban, Kwa-zulu Natal</td>
			</tr>		
		</tbody>
	</table>
</div>