<div class="large-12 columns">
	<p class="text-justify">
		Xing Yi Chuan roughly translated means mind and body form. In practice, the student trains the mind (Xing) to control the body (Yi). This connects the inner, internal power (Nei Gong) with the outer, external shape (Wai Xing). The form or "shape" of the movements is the physical manifestation of the "shape" of one's intent. In application, the practitioner strives to be aggressive and to develop an active and explosive offence. The direction of the movement forms is direct and linear. According to the principles of this style, attacking with clear intent serves as the best defence, and attack and defence occur simultaneously. Action and movement are tight and compact, limiting any openings for counterattack. 
	</p>
	<p>
		The theory of Xing Yi Quan is based upon the Chinese five element theory. Basically, there is a constructive (Sheng) cycle and a the destructive (Ko) cycle. In the Sheng cycle, metal creates water, water creates wood, wood creates fire and fire creates earth. In the Ko cycle, metal chops wood, wood separates the earth, earth absorbs water, water puts out fire and fire melts metal. These cycles are widely used in both Traditional Chinese medicine and in the combat theories of Xing Yi Quan. So, if some one attacks you with a metal you would retaliate with what destroys metal, fire. Likewise, if someone attacks you with a fire technique, you would destroy it using a water technique. The below images describe these cycles.
	</p>
	<p>
		<table cellspacing="5" cellpadding="5" width="100%">
			<thead>
				<tr>
					<th>CONSTRUCTIVE SHENG CYCLE</th>
					<th>DESTRUCTIVE KO CYCLE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="assets/img/constructive-cycle.jpg" border="0" alt="Xing Yi Constructive Cycle"></td>
					<td><img src="assets/img/destructive-cycle.jpg" border="0" alt="Xing Yi Desctructive Cycle"></td>
				</tr>
			</tbody>
		</table>
	</p>
</div>	
