<div class="large-12 columns">
	<div class="textWrapLeft"><img src="assets/img/santi.jpg" alt="San Ti Sher" border="0" width="150"></div>
	<p class="text-justify">
		Xing Yi Chuan roughly translated means mind and body form. In practice, the student trains the mind (Yi) to control the body (Xing). This connects the inner, internal power (Nei Gong) with the outer, external shape (Wai Xing). The form or "shape" of the movements is the physical manifestation of the "shape" of one's intent. In application, the practitioner strives to be aggressive and to develop an active and explosive offence. The direction of the forms is direct and linear. 
	</p>
	<p class="text-justify">
		According to the principles of this style, attacking with clear intent serves as the best defence with attack and defence occurring simultaneously. Action and movement are tight and compact, limiting any openings for counterattack.
	</p>
	<p class="text-justify">
		The Xing Yi Five Elements are in effect the five energies that, according to Taoist cosmology, comprise the energy matrix of the universe. In addition, each of the following Xing Yi Five Elements utilize a particular hand technique that moves power along a specific physical force vector.
	</p>
	<p>
		<table cellspacing="5" cellpadding="5" width="100%">
			<thead>
				<tr>
					<th>Movement</th>
					<th>Fist</th>
					<th>Chinese</th>
					<th>Pinyin</th>
					<th>Pinyin</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td valign="top">Metal</td>
					<td valign="top">Chopping</td>
					<td valign="top">劈</td>
					<td valign="top">Pī</td>
					<td valign="top">The motion of Pi Chuan  goes from up to down, utilizing pushing downward internal energy. This fist is linked to the Metal element, and Pi Chuan focuses on making an extremely strong spine and hands as hard as steel.</td>
				</tr>
				<tr>
					<td valign="top">Water</td>
					<td valign="top">Drilling</td>
					<td valign="top">鑽</td>
					<td valign="top">Zuān</td>
					<td valign="top">The motion of Zuan Chuan goes from down to up using expansive energy. It is linked to the Water Element, and focuses on making the hands able to move around the opponent's defense like water moves around a rock.</td>
				</tr>
				<tr>
					<td valign="top">Wood</td>
					<td valign="top">Crushing</td>
					<td valign="top">崩</td>
					<td valign="top">Bēng</td>
					<td valign="top">Beng Chuan uses straight-ahead physical motion. It is linked to the Wood Element and focuses on making the fists "grow" out of the body. It is often compared to the force of a powerful plant growing and expanding through concrete with a steady, inexorable force.</td>
				</tr>
				<tr>
					<td valign="top">Fire</td>
					<td valign="top">Pounding</td>
					<td valign="top">炮</td>
					<td valign="top">Pào</td>
					<td valign="top">The Pao Chuan technique focuses on diagonal physical motion. It is linked to the Fire Element and focuses on explosive and rapidly oscillating releases of power. In Pao Chuan, one hand initially contacts and shifts the opponent's center of balance, while the other explodes into their body.</td>
				</tr>
				<tr>
					<td valign="top">Earth</td>
					<td valign="top">Crossing</td>
					<td valign="top">橫</td>
					<td valign="top">Héng</td>
					<td valign="top">Heng Chuan focuses on the inside of the fist moving horizontally. It is linked to the Earth Element, and focuses on tightening the cross-linkages between the left and right sides of the inside of the abdominal cavity.</td>
				</tr>
			</tbody>
		</table>
	</p>
	<p class="text-justify">
		The theory of Xing Yi Quan is based upon the Chinese five element theory. There are two cycles in Five Element Theory, namely creation (Sheng) and (Ko) control. The creation cycle is nurturing and is also referred to as the “mother-son” relationship. Each element corresponds with a season and thus we experience the creation cycle with the passing of each year. The Wood element is associated with spring: birth, new beginnings, and rapid growth. The Fire element is associated with summer, the peak of heat and activity. The Earth element corresponds with late summer, a period of transition. The Metal element corresponds to autumn, a time of harvest of summer activities and letting go of what was created during the summer. The Water element corresponds to winter, a time of rest and storing. The energy stored during the winter makes for a successful spring when the creation cycle begins again.
	</p>
	<div class="textWrap"><h3>Creation Cycle</h3><img src="assets/img/constructive-cycle.jpg" border="0" alt="Xing Yi Constructive Cycle" width="200"></div>
	<div class="textWrapLeft"><h3>Destruction Cycle</h3><img src="assets/img/destructive-cycle.jpg" border="0" alt="Xing Yi Desctructive Cycle" width="200"></div>
	<p class="text-justify">
		Xing Yi Quan uses the five elements metaphorically to represent five different states of combat. The correlation between these cycles and martial arts is particularly apparent when looking at the Destructive, Ko cycle. In this cycle, metal chops wood, wood separates the earth, earth absorbs water, water puts out fire and fire melts metal. These cycles are widely used in both Traditional Chinese medicine and in the combat theories of Xing Yi Quan. So, if someone attacks you with a metal technique you would retaliate with that which destroys metal, fire. Likewise, if someone attacks you with a fire technique, you would destroy it using a water technique.
	</p>

</div>
