<div class="large-12 columns">
		<p class="text-justify">
			<img src="assets/img/bagua1.jpg" class="textWrapLeft" alt="Durban Bagua Kung Fu">
			<img src="assets/img/bagua.jpg" class="textWrap" alt="Durban Bagua Kung Fu">
			Xing means the shape and it comes first. Yi means the mind’s intent which is developed later. However, as you become proficient your mind’s intent will respond more quickly. As your mind and movements become coordinated, your response to an attack will become second nature.
		</p>
		<p>
			Xing yi quan is one of the major “internal” (neijia) Chinese martial arts. Xing yi quan translates approximately to “Shape/Mind Boxing”, and is characterized by seemingly simple movements and explosive power. The 5 Element Fists (wu xing or 5 xing) are the foundation for building speed, Power, breathing, and stamina. The practice of these 5 exercises is designed to develop a martial artist’s skill and understanding of Chinese Kung Fu.Master 
		</p>
		
</div>	
