<div class="large-12 columns">
	<div class="textWrap"><img src="assets/img/Dong-Haichuan.jpg" alt="Dong Haichaun" border="0"></div>
	<p class="text-justify">
		Bagua Zhang Kung Fu is a Taoist martial art which has precise theory and methods, a cohesive structure, vast content and a strong technical quality. Being thoroughly grounded in the philosophy of the I Ching, this Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs. 
		Ba Gua Zhang Kung Fu is a martial art which seeks to develop the ability to strike whilst moving. As part of the Neijia, this martial art occupies the middle ground between the softness of Tai Chi Chaun and the seemingly hard nature of Xing Yi Chuan Kung Fu. 
	</p>
	<p class="text-justify">
		Employing intricate kicking, throwing, and grasping techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion, the practice of Bagua Zhang Kung Fu enables one to develop a moving root. At it's higher levels, Bagua Zhang leads one to let go of restrictive movement, sensation and thought and so merge with that which does not change - the real nature of your mind.
	</p>		
</div>	
