<div class="large-12 columns">
	<div class="textWrapLeft"><img src="assets/img/Dong-Haichuan.jpg" alt="Dong Haichaun" border="0" width="150"></div>
	<p class="text-justify">
		Bagua Zhang Kung Fu is a Taoist martial art which has precise theory and methods, a cohesive structure, vast content and a strong technical quality. Being thoroughly grounded in the philosophy of the I Ching, this Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs. 
		Ba Gua Zhang Kung Fu is a martial art which seeks to develop the ability to strike whilst moving. As part of the Neijia, this martial art occupies the middle ground between the softness of Tai Chi Chaun and the seemingly hard nature of Xing Yi Chuan Kung Fu. 
	</p>
	<p class="text-justify">
		Employing intricate kicking, throwing, and grasping techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion, the practice of Bagua Zhang Kung Fu enables one to develop a moving root. At it's higher levels, Bagua Zhang leads one to let go of restrictive movement, sensation and thought and so merge with that which does not change - the real nature of your mind.
	</p>
	<p class="text-justify">	
		Ba Gua Zhang is recognized as one of the three orthodox "internal" styles of Chinese martial art (the other two being Xing Yi Quan and Tai Ji Quan). Ba Gua literally translates to Eight trigrams. These trigrams are symbols which are used to represent all natural phenomena as described in the ancient Chinese text of divination, the Book of Changes (Yi Jing). Ba Gua Zhang, as a martial art, is based on the theory of continuously changing in response to the situation at hand in order to overcome an opponent with skill rather than brute force.
	</p>
	<p class="text-justify">
		The basic solo training in Ba Gua Zhang Kung Fu is designed to teach the practitioner how to control his or her momentum and timing in order to generate power with the entire body mass being used as a coherent unit. This whole body power enables the practitioner to issue force from any part of the body with the support of all other parts. Each part of the body coordinates with every other, generating the maximum amount of power available relative to the individual's size and weight. Whole body power is applied in all categories of Ba Gua Zhang techniques which include striking, kicking, grappling and throwing.
	</p>
</div>	
