.top-bar {
    background: #3A9AD9;
}

.top-bar-section li a:not(.button) {
    background: #6D2908 !important;
}

.top-bar-section li a:not(.button):hover {
    background: #C86013 !important;
}

.top-bar-section ul li.active > a {
    background: #C86013 !important;
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;
}

.title-area h1 a.active {
    background-color: #354458
}
.textWrap {
    float: right;
    margin: 10px
}
.textWrapLeft {
    float: left;
    margin: 10px
}
#quote {
  
  border-left: 0px;
  margin: 0px;
  padding: 0px;
  quotes: "\201C""\201D""\2018""\2019";
}
#quote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: 0.2em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
#quote:after {
  color: #000;
  content: close-quote;
  font-size: 3em;
  line-height: 0.2em;
  margin-left: 0.1em;
  vertical-align: -0.4em;
}
.quoteAuthor {
   font-style:italic;
   font-size: 16px
}